<div class="container-fluid">
  <nav class="row navbar navbar-expand-sm navbar-light bg-light w-auto">
    <div class="col-1">
      <button class="btn mr-3 sidemenu" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
        aria-controls=".collapse #navbarToggleExternalContent">
        <i class="mdi mdi-menu-right" style="cursor:pointer"></i>
      </button>
    </div>

    <div class="col-7 navbar-brand app-name">Buddy Schedule</div>

    <div class="user col-3">
      <div class="row justify-content-end">
        <i class="mdi mdi-account pr-3"></i>
        <span class="text-black pr-2">User Name</span>
        <span class="dropdown show pull-right">
          <a class="dropdown-toggle" role="button" id="dropdownMenuLink" style="cursor:pointer" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
          </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" style="cursor:pointer">Sair</a>
          </div>
        </span>
      </div>
    </div>
  </nav>
</div>

<div class="wrapper h-100">
  <div class="collapse col-2 pr-0 pl-0" id="navbarToggleExternalContent">
    <div class="container-fluid bg-dark h-100 pl-4 col-12">
      <span class="text-muted row pt-4">Meu calendário</span>
      <span class="text-muted row">Calendários Compartilhados</span>
    </div>
  </div>

  <div class="container">
    <div class="row mt-3 title align-items-center">
      <div class="myCalendar col-md-4 col-sm-4 col-xs-6 title pt-2 pb-2" style="text-align: center">
        Meu Calendário
      </div>

      <div class="col-md-7 col-sm-8 col-xs-6 justify-content-end" style="text-align: center">
        <div class="row mr-2 justify-content-end align-items-center">
          <!-- tab options -->
          <div class="col-lg-5 col-md-8 col-sm-8 justify-content-end">
            <ul class="nav nav-pills" ng-model="calendarView">
              <li class="nav-item active">
                <a class="nav-link active" href="#monthView" ng-click="vm.tab = 0" role="tab" data-toggle="tab">Mês</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#weekView" ng-click="vm. tab = 1" role="tab" data-toggle="tab">Semana</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href ng-click="vm.tab = 2" role="tab" data-toggle="tab">Dia</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="vm.tab == 0">
      <ui-view name="monthView"></ui-view>
    </div>
    <div ng-if="vm.tab == 1">
      <ui-view name="weekView"></ui-view>
    </div>
    <div ng-if="vm.tab == 2">
      <ui-view name="dayView"></ui-view>
    </div>
  </div>
</div>