/* .table-fixed thead {
  display: block;
  width: 97%;
}

.table-fixed th{
  width: auto;
}
.table-fixed tbody {
  display: block;
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed tr, .table-fixed td {
  display: block;
  width: auto;
} 
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
} */