<div class="modal fade" id="createEvent" tabindex="-1" role="dialog" aria-labelledby="createEventLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createEvent">Criar Evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.eventToBeAdded = null;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row justify-content-center">
            <div class="col-12 mr-5 ml-5">
              <label class="col-form-label">NOME:</label>
              <input ng-model="vm.eventToBeAdded.title" type="text" class="form-control input">
            </div>
          </div>
          <div class="row justify-content-center mt-3">
            <div class="col-6">
              <label class="col-form-label">DATA:</label>
              <datepicker>
                  <input class="form-control input" ng-model="vm.eventToBeAdded.date" type="text" />
              </datepicker>
            </div>
            <div class="col-6">
              <label class="col-form-label profile">HORÁRIO:</label>
              <div class="row justify-content-center pr-3 pl-3" id="time">
                <span class="col-3 align-items-center">De</span>
                <input ng-model="vm.eventToBeAdded.startTime" type="text" class="form-control input col-3" id="timeBegin" ng-disabled="vm.eventToBeAdded.allDay">
                <span class="col-3">até</span>
                <input ng-model="vm.eventToBeAdded.endTime" type="text" class="form-control input col-3" id="timeEnd" ng-disabled="vm.eventToBeAdded.allDay">
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col-6 pl-0" id="color-picker">
              <label class="col-4 col-form-label" for="color">COR:</label>
              <div class="col-7 btn-group justify-content-center">
                <select class="form-control" id="color" ng-model="vm.eventToBeAdded.color" ng-init="vm.eventToBeAdded.color='blue'">
                  <option value="red">
                    <div class="col-2" style="background-color: red; border-color: black">
                      <div class="col-8 ml-2">
                        Vermelho
                      </div>
                    </div>
                  </option>
                  <option value="orange">
                    <div class="col-2" style="background-color: orange; border-color: black">
                      <div class="col-8 ml-2">
                        Laranja
                      </div>
                    </div>
                  </option>
                  <option value="yellow">
                    <div class="col-2" style="background-color: Yellow; border-color: black">
                      <div class="col-8 ml-2">
                        Amarelo
                      </div>
                    </div>
                  </option>
                  <option value="green">
                    <div class="col-2" style="background-color: green; border-color: black">
                      <div class="col-8 ml-2">
                        Verde
                      </div>
                    </div>
                  </option>
                  <option value="blue">
                    <div class="col-2" style="background-color: blue; border-color: black">
                      <div class="col-8 ml-2">
                        Azul
                      </div>
                    </div>
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6 pl-0 p-0">
              <label class="col-5 col-form-label justify-content-start" for="sound">ALARME:</label>
              <div class="col-6 pl-0 pr-0 btn-group justify-content-start">
                <select class="custom-select form-control" ng-model="vm.eventToBeAdded.alarm" ng-init="vm.eventToBeAdded.alarm='standard'">
                    <option value="standard" selected>
                        Padrão
                      </option>
                      <option value="beep">
                        Beep
                      </option>
                      <option value="siren">
                        Sirene
                      </option>
                      <option value="music">
                        Música
                      </option>
                      <option value="customRecording">
                        Gravação Customizada
                      </option>
                  </select>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-4 ml-1">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" ng-model="vm.eventToBeAdded.allDay" class="custom-control-input" id="check-allDay">
              <label class="custom-control-label" for="check-allDay">Evento durante todo o dia</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-grey-rounded" data-dismiss="modal" ng-click="vm.eventToBeAdded = null;">Close</button>
        <button type="button" class="btn-blue-rounded" ng-click="vm.saveAddition()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>